service cloud.firestore {
  match /databases/{database}/documents {
  function authenticated() { return request.auth.uid != null }
  
    match /users/{userId} {
       allow get: if authenticated();
       allow create: if authenticated() && request.auth.uid == userId;
       allow update: if authenticated();
       allow delete: if authenticated() && request.auth.uid == userId;
    }

    match /users/{userId}/projects/{projectId} {
      allow get: if authenticated();
			allow list: if authenticated();
      allow create: if authenticated() && request.auth.uid == userId;
      allow update, delete: if authenticated() && request.auth.uid == userId;
    }

    match /users/{userId}/rewards/{rewardId} {
      allow get: if authenticated();
			allow list: if authenticated();
      allow create: if authenticated() && request.auth.uid == userId;
      allow delete: if authenticated() && request.auth.uid == userId;
      allow update: if authenticated();
    }

    match /projects/{projectId} {
       allow get: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }

    match /projects/{projectId}/tasks/{taskId} {
       allow get: if authenticated();
	        allow list: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }

    match /projects/{projectId}/messages/{messageId} {
       allow get: if authenticated();
	        allow list: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }

    match /projects/{projectId}/files/{fileId} {
       allow get: if authenticated();
	        allow list: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }

    match /projects/{projectId}/personas/{personaId} {
       allow get: if authenticated();
	        allow list: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }

    match /projects/{projectId}/events/{eventId} {
       allow get: if authenticated();
	        allow list: if authenticated();
       allow create: if authenticated();
       allow update, delete: if authenticated();
    }
  }
}