/* Misc */

$vue-color: #fcc931;
$primary-color: #0e2861;
$accent-color: #17b2e8;
$accent2-color: #F49463;
$accent3-color: #4EBC57;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
