/* Misc */

$vue-color: #F9EB1E;
$primary-color: #0e2861;
$accent-color: #17b2e8;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
